<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulaire pour Poster un Influenceur</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Formulaire pour Poster</h1>
    <form action="/add-foods" method="POST" >
      <div class="form-group">
        <label for="nom">Nom de l'aliment :</label>
        <input type="text" id="nom" name="title" required><br>

      </div>
    
      <button type="submit" class="btn btn-primary">Poster le food </button>
    </form>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
