<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Liste Foods</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Date de création</th>
                <th>Date de publication</th>
                <th>Date de mise à jour</th>
            </tr>
        </thead>
        <tbody>
            {% for  food in foods %}
            <tr>
                <td>{{ food.id }}</td>
                <td>{{ food.attributes.title }}</td>
                <td>{{ food.attributes.createdAt }}</td>
                <td>{{ food.attributes.publishedAt }}</td>
                <td>{{ food.attributes.updatedAt }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
